@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background: #EEEEEE;
}

* {
    color: #000;
}



ul {
    display: flex;
    gap: 30px;
    list-style: none;
    width: 90%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}

ul li a {
    text-decoration: none;
    color: #000;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;



}
