@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.nav-root {
    height: 100vh;
}

.nav-root ul {
    display: flex;
    gap: 30px;
    list-style: none;
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.nav-root ul li a {
    text-decoration: none;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;



}

.content {
    height: auto;
    width: auto;
    margin: 5vh;
}

.content .card {
    height: auto;
    width: 25%;
}

.detail {
    display: flex;
    height: 100%;
    width: 100%;
}

.history {
    width: 80%;
    height: auto;
    
}

.converted {
    height: auto;
}
.detail .text-transform {
    width: 50%;
}

.detail .text-transform textarea {
    height: 15vh;
}

@media screen and (min-width: 1000px) {
    .content .card {
        max-height: 50vh;
    }
    
}

@media screen and (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .content .card {
        width: 30%;
    }
    
}

@media screen and (max-width: 700px) {
    .nav-root .links {
        flex-direction: column;
    }

    .nav-root .links {
        width: 100%;
    }

    .history {
        width: 100%;
    }

    .detail .text-transform {
        width: 100%;
    }

    .content .card {
        width: 100%;
        height: auto;
    }

}


